// * useful:
// * https://www.figma.com/colors/beige/
// * https://ant.design/docs/spec/colors
// * https://coolors.co

// * https://coolors.co/e86100-f56600-f5fbe9-85877c
$global-palette-primary: #E86100;
$global-palette-primary-lighter: hsl(25, 100%, 62%);
$global-palette-border-strong: #85877C;
$global-palette-background: hsl(80, 69%, 95%);
